QWidget#centralwidget {
    background-color: rgb(232, 255, 255);
}
QPushButton#BTCUSD-PERP {
    background-color: rgb(26, 28, 54);
    border: none;
    font: bold 14px;
    color: rgb(255, 255, 255)
    }
QPushButton#BTCUSD-PERP:hover {
	background-color: rgb(39, 42, 81);
	}

QPushButton#ETHUSD-PERP {
    background-color: rgb(26, 28, 54);
    border: none;
    font: bold 14px;
    color: rgb(255, 255, 255)
    }
QPushButton#ETHUSD-PERP:hover {
	background-color: rgb(39, 42, 81);
	}

QPushButton#buttonEnter {
    color:rgb(255, 96, 96);
    font: bold 12px;
    border: none;
    }

QTableView#tw_buy::item {
    background-color: rgb(0, 24, 0);
    color: rgb(0, 212, 0);
}

QTableView#tw_buy::item:hover {
    background-color: rgb(0, 72, 0);
}

QTableView#tw_sell::item {
    background-color: rgb(24, 0, 0);
    color: rgb(255, 96, 96);
}

QTableView#tw_sell::item:hover {
    background-color: rgb(72, 0, 0);
}

QPushButton#pb_buy {
    background-color: rgb(26, 28, 54);
    color:rgb(212, 255, 212);
    font: bold 14px;
    }

QPushButton#pb_buy:hover {
	background-color: rgb(39, 42, 81);
	}

QPushButton#pb_sell {
    background-color: rgb(26, 28, 54);
    color:rgb(255, 212, 212);
    font: bold 14px;
    }

QPushButton#pb_sell:hover {
	background-color: rgb(39, 42, 81);
	}